/* Your Styles Here */

body {
    background-color: #121212;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

:root {
    --gradient: linear-gradient(
        45deg,
        #326389, 
        #2d5a83, 
        #28527d, 
        #254976, 
        #22416f, 
        #153c65, 
        #09375a, 
        #003250, 
        #002c3d, 
        #002428, 
        #001c15, 
        #001200
    )
}

.waves{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./waves.svg');
    position: absolute; 
}

.box {
    position:relative;
    top:300px;
    /*background-image: var(--gradient);*/
    width: 400px;
    height: 300px;
    margin:auto;
    transition: .5s;
    display: flex;
    justify-content: center;
}

.box:hover{
    height: 600px;
    top: 200px;
    width: 500px;
}


.pfp{
    background-image: url(pfp.jpeg);
    background-size:260%;
    background-position:center;
    background-position-y: 15%;
    background-position-x: 52%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    position: relative;
    margin:auto;
    top: -115px;
    transition: .5s;
    
}

.box:hover .pfp{
    width: 250px;
    height: 250px;
    top: -135px;
}

.circle {
    background-image: linear-gradient(to right bottom, #ff0000, #ff3700, #ff5000, #ff6400, #ff7500, #ff6119, #ff4b29, #ff3036, #ff005c, #f2008d, #bf00c7, #0005ff);
    background-size: 500%;
    animation: circle-animation 4s infinite alternate;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -120px;
    transition: .6s;
}

.box:hover .circle{
    width: 260px;
    height: 260px;
    top: -140px;
}

@keyframes circle-animation{
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.name {
    position: relative;
    color: white;
    font-size: 30px;
    font-family: Arial;
    top: -20px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}


.textbox {
    top: -20px;
    position: relative;
    width: 220px;
    height: 220px;
    text-align: center;
    align-items: center;
    background-image: var(--gradient);
    padding: 10px;
    border-radius: 50%;
    margin: 2%;
    border: 3px solid orange;
}
.textbox:nth-child(3){
    margin-left: auto;
    top: -150px;
}
.textbox p{
    color: white;
    font-family: "Arial";
    font-size: 14px;
    position: absolute;
    width: inherit;
    top: 50%;
    transform: translateY(-50%);
}

.box:hover .textbox{
    display: block;
}

.content{
    width: 400px;
    height: 70px;
    top: 100px;
    position: absolute;
    display: block;
    overflow: hidden;
    transition: .6s;
}

.box:hover .content{
    top: 120px;
    height: 500px;
    width: 500px;
}


.icon {
    background-size: cover;
    width: 50px;
    height: 50px;
    position: relative;
}

.ln {
    background-image: url(linkedin.png);
    left: 20px;
    bottom: 240px;
}

.ig {
    background-image: url(instagram.png);
    border-radius: 50%;
    left:90px;
    bottom: 190px;
}
